<div class="footer-container">
  <img src="http://seancswanson.com/assets/swanson-logo.png" alt="" />
  <p>Made with ♡ by Sean Swanson</p>
  <a class="website-link better" href="www.seancswanson.com"
    >www.seancswanson.com</a
  >
  <p>
    To read more about this project, visit the
    <a
      class="website-link better"
      href="https://github.com/seanthaswan/osd-zfxdz"
      >GitHub repository</a
    >.
  </p>
  <div class="social-links">
    <a class="social-link github"></a>
    <a class="social-link twitter"></a>
    <a class="social-link medium"></a>
  </div>
</div>
