<h2>About</h2>
<h3>
  <span class="left-quote">“</span>Zaria Forman documents climate change with
  pastel drawings <span class="right-quote">”</span>
</h3>
<div class="split-content">
  <div class="left">
    <p class="bio">
      <span class="first-letter">“S</span>he travels to remote regions of the
      world to collect images and inspiration for her work, which is exhibited
      worldwide. She has flown with NASA on several
      <span>
        <a
          class="better"
          href="https://www.nasa.gov/mission_pages/icebridge/index.html"
          target="_blank"
          data-content="https://www.nasa.gov/mission_pages/icebridge/index.html"
          data-type="external"
          rel="noopener noreferrer"
          >Operation IceBridge</a
        >
      </span>
      missions over Antarctica, Greenland, and Arctic Canada. She was featured
      on
      <span>
        <a
          class="better"
          href="https://www.cbs.com/shows/cbs-sunday-morning/video/KzOxd0byMHWz4_UFKHFgS4_v8a5VwLtM/handiwork-how-busy-hands-may-help-the-brain/"
          target="_blank"
          data-content="https://www.cbs.com/shows/cbs-sunday-morning/video/KzOxd0byMHWz4_UFKHFgS4_v8a5VwLtM/handiwork-how-busy-hands-may-help-the-brain/"
          data-type="external"
          rel="noopener noreferrer"
          >CBS Sunday Morning</a
        > </span
      >,
      <span>
        <a
          class="better"
          href="http://edition.cnn.com/2016/03/17/arts/zaria-forman-arctic-art/index.html"
          target="_blank"
          data-content="http://edition.cnn.com/2016/03/17/arts/zaria-forman-arctic-art/index.html"
          data-type="external"
          rel="noopener noreferrer"
          >CNN</a
        > </span
      >,
      <span>
        <a
          class="better"
          href="https://www.nyc-arts.org/showclips/144069/nyc-arts-profile-zaria-forman"
          target="_blank"
          data-content="https://www.nyc-arts.org/showclips/144069/nyc-arts-profile-zaria-forman"
          data-type="external"
          rel="noopener noreferrer"
          >PBS</a
        >,</span
      >
      and
      <span>
        <a
          class="better"
          href="https://www.bbc.com/news/av/world-us-canada-47313246/look-at-these-glaciers-photos-or-drawings"
          target="_blank"
          data-content="https://www.bbc.com/news/av/world-us-canada-47313246/look-at-these-glaciers-photos-or-drawings"
          data-type="external"
          rel="noopener noreferrer"
          >BBC</a
        > </span
      >. She delivered a
      <span>
        <a
          class="better"
          href="http://www.ted.com/talks/zaria_forman_drawings_that_show_the_beauty_and_fragility_of_earth"
          target="_blank"
          data-content="http://www.ted.com/talks/zaria_forman_drawings_that_show_the_beauty_and_fragility_of_earth"
          data-type="external"
          rel="noopener noreferrer"
          >TEDTalk</a
        > </span
      >, and spoke at Amazon, Google, and NASA’s Goddard Space Flight Center,
      exhibited in Banksy’s
      <span>
        <a
          class="better"
          href="http://www.thisiscolossal.com/2015/08/dismaland/"
          target="_blank"
          data-content="http://www.thisiscolossal.com/2015/08/dismaland/"
          data-type="external"
          rel="noopener noreferrer"
          >Dismaland</a
        > </span
      >, and was the artist-in-residence aboard the National Geographic Explorer
      in Antarctica. Her works have appeared in publications such as
      <span>
        <a
          class="better"
          href="https://www.nytimes.com/2018/08/22/t-magazine/climate-change-art.html?action=click&contentCollection=t-magazine&region=rank&module=package&version=highlights&contentPlacement=1&pgtype=sectionfront"
          target="_blank"
          data-content="https://www.nytimes.com/2018/08/22/t-magazine/climate-change-art.html?action=click&contentCollection=t-magazine&region=rank&module=package&version=highlights&contentPlacement=1&pgtype=sectionfront"
          data-type="external"
          rel="noopener noreferrer"
          >The New York Times</a
        ></span
      >,
      <span>
        <a
          class="better"
          href="https://www.nationalgeographic.com/photography/proof/2015/07/28/a-mothers-legacy-of-art-icebergs-and-inspiration/"
          target="_blank"
          data-content="https://www.nationalgeographic.com/photography/proof/2015/07/28/a-mothers-legacy-of-art-icebergs-and-inspiration/"
          data-type="external"
          rel="noopener noreferrer"
          >National Geographic</a
        ></span
      >,
      <span>
        <a
          class="better"
          href="https://www.wsj.com/articles/a-painter-memorializes-the-planets-icy-grandeur-1461329542"
          target="_blank"
          data-content="https://www.wsj.com/articles/a-painter-memorializes-the-planets-icy-grandeur-1461329542"
          data-type="external"
          rel="noopener noreferrer"
          >The Wall Street Journal</a
        > </span
      >, and the
      <span>
        <a
          class="better"
          href="http://www.smithsonianmag.com/arts-culture/can-fingerpainting-save-world-180953033/?no-ist"
          target="_blank"
          data-content="http://www.smithsonianmag.com/arts-culture/can-fingerpainting-save-world-180953033/?no-ist"
          data-type="external"
          rel="noopener noreferrer"
          >Smithsonian Magazine</a
        > </span
      >. Forman currently works and resides in Brooklyn, NY, and is represented
      by Winston Wächter Fine Art in New York, NY and Seattle, WA.
      <span class="right-quote">”</span>
    </p>
    <div class="quote-attribution">
      <a
        class="better"
        href="https://seattle.winstonwachter.com/artists/zaria-forman/"
        >- Winston Wachter
      </a>
    </div>
  </div>
  <div class="right">
    <img
      class="lifted-round"
      src="https://i0.wp.com/passionpassport.com/wp-content/uploads/2018/08/zaria-forman-feature-francois-lebeau4.jpg"
      alt=""
    />
    <div class="image-attribution">
      <a class="better" href="https://www.instagram.com/francoislebeau/"
        >Photo by Francois Lebeau @francoislebeau
      </a>
    </div>
  </div>
</div>

<h3>
  Drawings that show the beauty and fragility of earth |
  <span class="ted-name">TED </span>Talks Live | November 2015
</h3>
<div>
  <div
    class="lifted-round"
    style="position:relative;height:0;padding-bottom:56.25%"
  >
    <iframe
      src="https://embed.ted.com/talks/zaria_forman_drawings_that_show_the_beauty_and_fragility_of_earth"
      width="854"
      height="480"
      style="position:absolute;left:0;top:0;width:100%;height:100%"
      frameborder="0"
      scrolling="no"
      allowfullscreen
    ></iframe>
  </div>
</div>
