<div class="hero-container">
  <div class="hero">
    <div class="hero-heading">
      <p aria-label="Zaria Forman">
        Z<span class="slide-out" aria-hidden="true">aria</span>F<span
          class="slide-out"
          aria-hidden="true"
          >orman</span
        >
      </p>
      <p aria-label="and">&times;</p>
      <p aria-label="Deep Zoom">
        D<span class="slide-out" aria-hidden="true">eep</span>Z<span
          class="slide-out"
          aria-hidden="true"
          >oom</span
        >
      </p>
    </div>

    <a
      href="#"
      class="scroll-arrow-container"
      aria-label="scroll down to main content"
    >
      <img src="/assets/arrow-down.svg" alt="" />
      <p class="scroll-down-message">Enter</p>
    </a>
  </div>
</div>
