<div class="hero-container">
  <div class="hero">
    <div class="hero-heading">
      <p>
        Z<span class="slide-out">aria</span>F<span class="slide-out"
          >orman</span
        >
      </p>
      <p>&times;</p>
      <p>
        D<span class="slide-out">eep</span>Z<span class="slide-out">oom</span>
      </p>
    </div>

    <a
      href="#"
      class="scroll-arrow-container"
      aria-label="scroll down to main content"
    >
      <img src="/assets/arrow-down.svg" alt="" />
      <p class="scroll-down-message">Enter</p>
    </a>
  </div>
</div>
