.tiles {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  row-gap: 20px;
  transition: all .25s ease;

  @media only screen and (max-width: 775px) {
    grid-template-columns: 1fr;
  }
}

.tile {
  position: relative;

  // box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);

  &:hover {
    .open-dzi-icon-container {
      opacity: 0.7;
      border: 1px solid rgba(0, 0, 0, 0.05);

      .open-dzi-icon {
        // opacity: 0.3;
      }
    }

  }
}


.top {
  height: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 1s ease;

  &:hover {
    background-size: 170% !important;

  }
}

.bottom {
  padding: 15px;

  .name-date-container {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
  }

  .coordinates {
    margin-bottom: 10px;
    font-size: 10px;
    font-variant: small-caps;
  }

  .date {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .open-dzi-icon-container {
    position: absolute;
    bottom: 5px;
    right: 10px;
    opacity: 0.5;
    // transition: all .25s ease;
    // cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
      opacity: 1;
      border-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .open-dzi-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.5;
      transform: translate(-50%, -50%);
      height: 1.1rem;
      vertical-align: middle;
      width: 1.1rem;
      transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}
